.container {
  max-width: 1200px;

  margin: 0 auto;

  display: grid;
  grid-template-rows: minmax(80px, max-content) max;
  grid-template-areas: 'header' 'body';

  row-gap: 24px;

  margin-top: 24px;
}
