.checkboxListContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.list {
  max-height: 200px;
  width: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 4px;
    padding: 0;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #ccc;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eee;
  }

  & > label {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
}

.title {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--c-text);
}

.input {
  font-size: 0.875rem;
  height: 2rem;
  width: 100%;
  margin: 0.825rem 0;
  padding: 0.5rem 0.5rem;

  background-color: var(--c-bg-primary);
  border: 2px solid var(--c-bg-secondary);
  border-radius: 4px;
  outline: none;
  &:focus {
    border: 2px solid var(--c-primary-light);
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
  &::placeholder {
    color: var(--c-text-secondary);
    font-size: 12px;
    letter-spacing: 0.5px;
  }
}

.space {
  width: 100%;
  margin: 0.5rem 0;
}
