.label {
  font-size: 0.875rem;
  text-align: center;

  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  transition: background-color var(--a-60-cubic);

  &:hover,
  &:focus-within {
    background-color: var(--c-bg-secondary);
  }
}
.input {
  appearance: none;
  height: 1rem;
  width: 1.125rem;

  background-color: var(--c-bg-primary);
  border: 2px solid var(--c-bg-secondary-dark);
  border-radius: 2px;

  outline: none;

  transition: border var(--a-60-cubic);

  &:hover,
  &:focus {
    border: 2px solid var(--c-bg-secondary-darker);

    + .text {
      color: black;
    }
  }

  &:checked {
    background-color: var(--c-primary);
    border: 2px solid var(--c-primary);
  }
  &:checked::after {
    content: '';
  }
}

.input::after {
  display: inline-block;
  position: relative;
  top: -2px;
  right: -2px;

  height: 8px;
  width: 4px;
  transform: rotate(45deg);
  border-bottom: 3px solid var(--c-text-on-p);
  border-right: 3px solid var(--c-text-on-p);
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}
.text {
  width: 100%;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  text-align: left;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.count {
  font-size: 0.825rem;
  color: var(--c-text-secondary);
  opacity: 0.8;
}
