.icon {
  display: inline-block;
  fill: var(--c-icon-color);
}

.NotFoundIcon {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}
.text {
  font-size: 2rem;
  margin-bottom: 1rem;
}
