.container {
  position: relative;
  right: 0;
}
.counter {
  border: 1px solid #fadde1;
  position: absolute;

  background-color: var(--c-bg-secondary);
  color: #ff5d8f;

  font-weight: 700;
  text-align: center;

  top: -29px;
  right: -18px;

  font-size: 0.825rem;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;

  line-height: 18px;
}
