.header {
  grid-area: header;
  overflow: hidden;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin-right: 1rem;
}

.search {
  margin-left: auto;
}

.btn_group {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .search {
    order: 5;
    flex-basis: 100%;
    margin-top: 8px;
  }
  .header {
    height: max-content;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 550px) {
  .header {
    justify-content: center;
  }
  .btn_group {
    margin: 0.5rem 0;
    padding-right: 1.2rem;
  }
  .logo {
    margin: 0;
  }
}
